* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

/* HelveticaNeue Font Family */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueIt.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* American Patriot Font Family */
@font-face {
  font-family: "AmericanPatriot";
  src: url("/fonts/CFB1 American Patriot Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AmericanPatriot";
  src: url("/fonts/CFB1 American Patriot SOLID 2 Normal.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AmericanPatriot";
  src: url("/fonts/CFB1 American Patriot SOLID 2 Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AmericanPatriot";
  src: url("/fonts/CFB1 American Patriot Normal Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AmericanPatriot";
  src: url("/fonts/CFB1 American Patriot SOLID 2 Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "HelveticaNeue", "Manrope", sans-serif;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

button:focus {
  outline: none;
  box-shadow: none;
}
